---
import planetIcon from "../../public/planet.svg";
---

<header>
	<div class="navbar">
		<img src={planetIcon.src} alt="Planet Icon" />

		<nav>
			<a href="#about">About</a>
			<a href="#projects">Projects</a>
			<a href="#experience">Experience</a>
			<!-- <a href="#contact">Contact</a> -->
			<button id="theme-toggle">
				<img alt="Theme Icon" />
			</button>
		</nav>
	</div>
</header>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const THEMES = ["light", "dark"];

		// Get's current theme from variable on LocalStorage
		let currentTheme = localStorage.getItem("theme") || "light";
		document.documentElement.setAttribute("data-theme", currentTheme);

		const themeToggleButton = document.getElementById("theme-toggle");
		const themeIcon = themeToggleButton?.querySelector("img");

		// Change the icon on init load depending on theme
		if (themeIcon) {
			themeIcon.src = currentTheme === "dark" ? "/moon.svg" : "/sun.svg";
		}

		// If the button exists
		if (themeToggleButton) {
			themeToggleButton.addEventListener("click", () => {
				const nextTheme =
					THEMES[(THEMES.indexOf(currentTheme) + 1) % THEMES.length];
				document.documentElement.setAttribute("data-theme", nextTheme);
				localStorage.setItem("theme", nextTheme);
				currentTheme = nextTheme;

				// Change Icon on Click
				if (themeIcon) {
					themeIcon.src = currentTheme === "dark" ? "/moon.svg" : "/sun.svg";
				}
			});
		}
	});
</script>

<style>
	header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	img {
		width: 70px;
		height: 67px;
	}

	.navbar {
		top: 0;
		height: 87px;
		max-width: 1819px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px;
		background-color: var(--navbar);
		border-radius: 20px;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		margin-left: 50px;
		font-size: 20px;
		text-decoration: none;
		color: var(--font);
		font-style: normal;
		transition: color 0.3s;
	}

	a:hover {
		color: var(--orange);
	}

	#theme-toggle {
		background: none;
		border: none;
		cursor: pointer;
		padding: 0.5rem;
		border-radius: 50%;
		transition: background-color 0.3s;
		margin: 0 40px;
	}

	#theme-toggle:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	#theme-toggle img {
		width: 24px;
		height: 20px;
	}

	div > img {
		margin: 0 15px;
	}

	@media screen and (max-width: 904px) {
		a {
			display: none;
		}
	}
</style>
